body{ background : #ffd }
.code { background : #000 ; color : #1ae854 }
h1 { font-size : 60px ; text-align : center ; background : #1b70bf }
h2 { font-size : 55px ; text-align : center }
h3 { font-size : 50px ; text-align : center ; background : #b8cc06 }
p { font-size : 40px }
.strong { color : red }
a { font-size : 40px ; color : blue }
#table { background : #8ced05 }
li { font-size : 40px }
.to_center { text-align : center }
table, td, th{
  border: 1px solid #595959;
  border-collapse: collapse;
}
td, th{
  padding: 3px;
  width: 30px;
  height: 25px;
  font-size: 40px;
}
th {
  background: #f0e6cc;
}
.even {
  background: #fbf8f0;
}
.odd {
  background: #fefcf9;
}
